
<%- include("partials/header"); -%>
    <h1>Compose</h1>
    <form class="" action="/blogs/<%=bName%>/compose" method="post">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label>Title</label>
            <input class="form-control" type="text" name="postTitle">
            <label>Post</label>
            <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
          </div>
          <button class="btn btn-primary" type="submit" name="button">Publish</button>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Image Upload</label>
            <form method="post" action="upload/post" enctype="multipart/form-data">
              <input type="file" name="image" /><br /><br />
              <button class="btn btn-primary" type="submit" name="upload">Upload</button>
            </form>
          </div>
        </div>
      </div>
      
    </form>

<%- include("partials/footer"); -%>
